.git
.gitignore
.github
.vscode
.idea
node_modules
.pnpm-store
.turbo
.eslintcache
coverage
logs
*.log
.env
.env.*
!**/.env.example

apps/backend/dist
apps/backend/logs
apps/client/build
packages/shared/dist
